.inputBlock {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  background: rgb(61, 61, 61);
  box-shadow: inset 0px 0em 3em rgba(0, 0, 0, 0.1),
    0px 7px 16px 5px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.inputBlock > button {
  max-width: 200px;
  min-height: 40px;
  border-radius: 25px;
}
.inputBlock > h1 {
  color: white;
}

.sortButton {
  cursor: pointer;
}

.todoContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.todoCard {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100px;
  height: 120px;
  max-width: 25%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1%;
  margin-right: 10px;
  box-shadow: -1px 6px 12px 0px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  animation: 2s show ease;
}

.todoCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: rgb(77, 188, 162);
}
.title > input {
  text-align: center;
  width: 80%;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.removeButton {
  font-size: 0.7rem;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 40%;
  background: orangered;
}
.removeButton:hover {
  background-color: red;
  transform: scale(110%);
}

.todoCardDescription {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.todoCardDescription > input {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  margin-top: 5px;
}

.todoCardDescription > input:focus {
  outline: none;
  background: rgb(232, 231, 231);
  border-radius: 5px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 2s infinite;
}
.error {
  color: red;
  font-size: 30px;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
